*{
    box-sizing: border-box;
}

body{
    background-color: #373b69;
    font-family: sans-serif;
    margin: 0;

}

header{
    background-color: #373b69;
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
}
.search{
    background-color: transparent;
    border: 2px solid #22254b;
    border-radius: 50px;
    font-size: 1rem;
    font-family: inherit;
    padding: 0.5rem;
}
.search::placeholder{
    color: #7378c5;
}
.search:focus{
    background-color: #22254b;
    outline: none;
}
main{
    display: flex;
    flex-wrap: wrap;
}
.movie{
    position: relative;
    background-color: #3a4192;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
    overflow: hidden;
    margin: 1rem;
    width: 200px;
}
.movie img{

    max-width: 100%;
}
.movie-info{
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}
.movie-info h3{
    margin: 0;
}
.movie-info span{
    background-color: #22254b;
    border-radius: 3px;
    font-weight: bold;
    padding: 0.25rem 0.25rem;
}
.movie-info span.green{
    color: rgb(28, 204, 28);
}
.movie-info span.orange{
    color: orange;
}
.movie-info span.red{
    color: red;
}

.overview{
    background-color: white;
    position: absolute;
    max-height: 100%;
    overflow: auto;
    padding: 1rem;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(100%);
    transition: transform 0.3s ease-in;
}
.movie:hover .overview{
    transform: translateY(0);
}
